@import "compass/css3";
@import "settings";

/* Artfully masterminded by ZURB  */

.fedora-preheader{
  @include box-sizing(content-box);
  width: 100% !important;
  position: relative;
  background: #FFFFFF url(../img/repeater.png) 0 100% repeat-x;
  display: block;
  color: #000
}

.fedora-preheader a {
    color: #000;
}

.fedora-header{
  display: block;
  text-indent: -9999px;
  background: url(../img/blockerbugs-logo-light.png) 10px 50% no-repeat;
  height: 73px;
  width: 175px;
  overflow: hidden;
  text-decoration: none;
}

.fedora-preheader-staging{
  @include box-sizing(content-box);
  width: 100% !important;
  position: relative;
  background: #FFFFFF url(../img/repeater-stg.png) 0 100% repeat-x;
  display: block;
  color: #000
}

.fedora-header-staging{
  display: block;
  text-indent: -9999px;
  background: url(../img/blockerbugs-logo-light-stg.png) 10px 50% no-repeat;
  height: 73px;
  width: 175px;
  overflow: hidden;
  text-decoration: none;
}

.fedora-prefooter{
  font: normal 0.8em/1.5 sans-serif;
  text-align: center;
  background: white;
  padding: 20px;
}

.fedora-footer{
  text-align: center;
  background: white url(../img/line-bottom.png) 0 0 repeat-x;
  color: #4D4D4D;
}

.login-header {
  //vertical-align: text-bottom;
  //text-align: right;
  //position: absolute;
  //bottom: 0px;
  height: 73px;
  //width: 175px;
}

.login-link {
  //text-align: right;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 10px;
}

/* overriding specific ids */
#main-info ul {
  list-style-position: inside;
}

/* icons */
.foundicon-idea.yellow {
  color: #e59728;
}

.menu-container {
  padding: 10px 0px 10px 0px;
}

/* sub-menu */
.sub-menu {
  padding: 5px 0px 10px 0px;
  margin: 0;
  display: block;
  text-align: center;
  height: $subMenuHeight + 10;

}
.sub-menu ul {
  background: none;
  padding: 0;
  margin: 0 auto;
  float: none;
  display: inline-table;
  border-radius: $subMenuRadius;
}
.sub-menu ul li    {
  float: left;
  background: none;
  margin-right: 1px;
  display: inline;
}
.sub-menu li a:link, .sub-menu li a:visited {
  font-size: $subMenuHeight;
  display: block;
  color: $primary-color;
  padding: $subMenuHeight/10 $subMenuHeight*2/3;
  text-decoration: none;
  text-transform: capitalize;
}
.sub-menu a.active:link, a.active:active, a.active:visited    {   
  color: #fff !important;
  text-shadow: none;
  background: $primary-color;
  border-radius: $subMenuRadius;
  font-weight: bold;
}
.sub-menu li a:hover    {
  cursor: pointer;
  color: #fff;
  text-shadow: none;
  border-radius: $subMenuRadius;

  background: $menuBarMainColor;
}

/* menu bar */
.menu-bar {
  padding: 5px 0px 10px 0px;
  margin: 0;
  display: block;
  overflow: hidden;
  text-align: center;
  height: $menuBarHeight + 10;

  /* Rounded Corners */
  border-radius: 10px;
}
.menu-bar ul {
  background: darken($menuBarSecondaryColor, 10%);
  padding: 0;
  margin: 0 auto;
  float: none;
  display: inline-table;
  border-radius: $menuBarRadius;
}
.menu-bar ul li    {
  float: left;
  background: none;
  margin-right: 1px;
  display: inline;
}
.menu-bar li a:link, .menu-bar li a:visited {
  font-size: $menuBarHeight/2;
  font-weight: bold;
  display: block;
  color: #262626;
  padding: $menuBarHeight/8 14px;
  text-decoration: none;
  text-transform: capitalize;

  /* CSS3 Text Shadow */
  text-shadow: 0px 1px 1px $fedoraLightGrey;
}
.menu-bar li:first-child a {
  /* Rounded Corners */
  border-radius: $menuBarRadius 0px 0px $menuBarRadius;
}
.menu-bar li:last-child a {
  /* Rounded Corners */
  border-radius: 0px $menuBarRadius $menuBarRadius 0px;
}

.menu-bar li a:hover    {
  cursor: pointer;
  color: #fff;
  text-shadow: none;

  background: $menuBarMainColor;
}
.menu-bar a.active:link, a.active:active, a.active:visited    {   
  color: #fff !important;
  text-shadow: none;
  background: $primary-color;
}

/* info container */
#info-container {
  padding: 10px 0px 5px 0px;
}

/* sortable tables */
table.tablesorter {
  /*background-color: #CDCDCD;*/
  background-color: lighten($secondary-color, 30%);
  margin:10px 0pt 15px;
  font-size: 10pt;
  width: 100%;
  text-align: left;
  border: 1px none #294172;
  border-collapse:collapse;
  //border-left: 0;
  //border-right: 0;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  /*background-color: #e6EEEE;*/
  /*background-color: lighten($secondary-color, 30%);*/
  background-color: lighten($primary-color, 35%);
  //border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  //color: #3D3D3D;
  padding: 4px;
  vertical-align: top;
  word-wrap: break-word;
  border-left: 0;
  border-right: 0;
}
table.tablesorter tr {
  border-left: 0;
  border-right: 0;
}
table.tablesorter tr:nth-child(even) {
  background-color: lighten($primary-color, 45%);
}
table.tablesorter tr:nth-child(odd) {
  background-color: white;
}
table.tablesorter tbody tr.even td {
  //background-color:#F0F0F6;
  background-color: white;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}

table.tablesorter tbody tr.newbug td{
  background-color:#fbff84;
}

table.tablesorter tbody tr td.modifiedstate{
  font-weight: bold;
}
table.tablesorter tbody tr td.bugid{
  font-weight: bold;
  font-size: 12pt;
}
/* tooltip tables */
table.tiptable {
  //font-family:arial;
  /*background-color: #CDCDCD;*/
  background-color: lighten($secondary-color, 30%);
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  border-collapse:collapse;
}
table.tiptable thead tr th, table.tiptable tfoot tr th {
  background-color: lighten($primary-color, 35%);
  //border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tiptable thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tiptable tbody td {
  //color: #3D3D3D;
  font-size: 8pt;
  padding: 4px;
  vertical-align: top;
  word-wrap: break-word;
}
table.tiptable tr:nth-child(even){
  background-color: lighten($primary-color, 45%);
}
table.tiptable tr:nth-child(odd){
  background-color: white;
}

// Table of Content
//-----------------------------------------
// - Shared Styles
// - Page Name 1
// - Page Name 2

// Shared Styles

// Page Name 1

// Page Name 2
