{% extends "base_nav.html" %}

{% block jsheader %}
{% endblock %}

{% block info %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns" id="info">
        <h1>Page Not Found!</h1>
            <p>
            The page you were looking for was not found. The valid pages are listed on 
            <a href="{{ url_for('main.index') }}">the home page</a>.
            </p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
