{% extends "layout.html" %}

{% block info %}
{% endblock %}

{% macro navactive(name, subname='') -%}
{% if request.path == '/' and name == 'home' -%}
class="active"
{%- elif name == (request.path | getname) and subname == (request.path | getsubname) -%}
class="active"
{%- endif -%}
{%- endmacro %}

{% block navigation %}
<div class="row">
    <div class="eight columns centered" id="nav-bar">
        <div class="menu-container">
            <span class="menu-bar">
                <ul>
                    <li><a {{navactive('home') }} href="{{ url_for('main.index') }}">Home</a></li>
                    {% for ms in g.milestones %}
                    <li><a {{navactive('milestone', ms.release.number ~ ms.version) }} href="{{ url_for('main.display_buglist', num=ms.release.number, release_name=ms.version) }}">Fedora {{ ms.release.number }} {{ ms.version }}</a></li>
                    {% endfor %}
                    <li><a {{navactive('propose_bug') }} href="{{ url_for('main.index') }}">Propose</a></li>
                </ul>
            </span>

{% block subnav %}
        </div> <!-- end of menu container -->
    </div> <!-- end of menu column -->
</div> <!-- end of menu row -->
{% endblock %}

{% endblock %}

{% block footer %}
<div class="container">
    <div class="fedora-prefooter">
        <div class="twelve column">
            {% if info['last_updated'] %}
                Last synced with <a href="https://bugzilla.redhat.com/"> Red Hat Bugzilla</a>
                at {{ info['last_updated'] }}.
            {% else %}
                Not synced with <a href="https://bugzilla.redhat.com/"> Red Hat Bugzilla</a>.
            {% endif %}
            <br />
            This application is open source! Get <a href="http://git.fedorahosted.org/cgit/blockerbugs.git">the code</a>
            or look at <a href="https://fedorahosted.org/fedora-qa/report/10">development plans</a>.
            <div class="fedora-footer"></div>
        </div>
    </div>
</div>
{% endblock %}
