{% extends "base_nav.html" %}

{% block jsheader %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns" id="index">
        <div class="panel radius" id="main-info">
            <h2>Fedora QA Example App</h2>
            <p>
            This app is used as an example template for Flask apps
            </p>

            <p>
            If you notice bugs or have suggestions on how we can make this app
            better, please report or discuss them in any of the following
            places:
            <ul>
                <li>
                    <a href="https://fedorahosted.org/fedora-qa/newticket">The fedora-qa trac</a>
                    filed against 'Blocker bug tracker page'.
                </li>
                <li>
                    Via email on <a href="https://admin.fedoraproject.org/mailman/listinfo/qa-devel">The Fedora qa-devel list</a>
                </li>
                <li>In #fedora-qa on Freenode IRC</li>
            </ul>
            </p>

            <p>
            Thanks for participating in Fedora development and/or testing!
            </p>

        </div>
        <div class="six columns" id="left-submain">
            <div class="panel radius" id="left-submain-info">
                <h3>Interesting Info</h3>
                <ul>
                    <li>Cool thing 1</li>
                    <li>Cool thing 2</li>
                </ul>
            </div>
        </div>
        <div class="six columns" id="right-submain">
            <div class="panel radius" id="right-submain-info">
                <h3>Most Recent Stuff</h3>
                <table width=100%>
                    <thead>
                        <th>Name</th>
                        <th>Type</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Stuff 1</a></td>
                            <td>Unicorn</td>
                        </tr>
                        <tr>
                            <td><a href="#">Stuff 2</a></td>
                            <td>Pony</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="fedora-prefooter">
        <div class="twelve column">
            This application is open source! Get <a href="http://git.fedorahosted.org/cgit/blockerbugs.git">the code</a>
            or look at <a href="https://fedorahosted.org/fedora-qa/report/10">development plans</a>.
            <div class="fedora-footer"></div>
        </div>
    </div>
</div>
{% endblock %}
