<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <meta name="author" content="{{ meta_author }}">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- CSS: implied media=all -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app-foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.qtip.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/general_foundicons.css') }}">
  <!-- end CSS-->

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.foundation.buttons.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.foundation.forms.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modernizr.foundation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.qtip.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.metadata.js') }}"></script>

  {% block jsheader %}
  <script type="text/javascript">
  </script>
  {% endblock %}


</head>

<body>
    <div class="fullcontainer">
        {% if not config['PRODUCTION'] %}
        <div id="preheader" class="fedora-preheader-staging">
        {% else %}
        <div id="preheader" class="fedora-preheader">
        {% endif %}
            <div class="row">
                <div class="three columns">
                    <a href="{{ url_for('main.index') }}">
                    {% if not config['PRODUCTION'] %}
                    <div id="logo" class="fedora-header-staging">
                    {% else %}
                    <div id="logo" class="fedora-header">
                    {% endif %}
                    </div>
                    </a>
                </div>
                <div class="one columns">
                    <div class='login-header'>
                        {#
                        {% if g.fas_user %}
                        <span class='login-link'>
                            <a href="{{ url_for('auth_logout') }}" class="secondary small button radius">Logout {{ g.fas_user.username }}</a>
                        </span>
                        {% else %}
                        <span class='login-link'>
                            <a href="{{ url_for('auth_login', next=request.url) }}" class="secondary small button radius">Login</a>
                        </span>
                        {% endif %}
                        #}
                    </div>
                </div>
            </div>
        </div>


        {% block navigation %}
        <div class="row">
            <div class="eight columns centered" id="nav-bar">
                <ul class="nav-bar radius">
                    <li class="radius"><a href="#">Home</a></li>
                    <li class='active'><a href="#">Example</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="eight columns centered" id="sub-nav-bar">
                <dl class="sub-nav">
                    <dt>Example subnav:</dt>
                    <dd class="active"><a href="#">Bug List</a></dd>
                    <dd><a href="#">Updates</a></dd>
                </dl>
            </div>
        </div>
        {% endblock %}

        {% if not config['PRODUCTION'] %}
        <div class="row">
            <div class="twelve columns" id="info-container">
                <div class="alert-box alert">
                    <!-- this should probably be done with a macro -->
                    This is <b>NOT the production instance!</b>
                </div>
            </div>
        </div> <!-- end staging notice row -->
        {% endif %}

        {% block info %}
        <div class="row">
            <div class="twelve columns" id="info-container">
                <br>
                <div class="alert-box alert">
                    This is an early pre-release version of the blocker tracking app.
                    Most of the functionality shown should be working. Please report
                    any bugs found.
                </div>
            </div>
        </div> <!-- end info row -->
        {% endblock %}

        {% block messages %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row">
            <div class="twelve columns" id="info-container">
                <div class="alert-box info">
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% endblock %}

        {% block body %}
        <div class="row">
            <div class="twelve columns" id="blockertables">
                <h2>Example</h2>
                <p>
                This is example content from the base layout. If you can see this, something
                probably went wrong.
                </p>
          </div> <!--! end of twelve colum div for tables -->
      </div> <!-- end of table row -->
  </div> <!-- main 12 column -->
  {% endblock %}

  {% block footer %}
  <div class="container">
    <div class="fedora-prefooter">
        <div class="twelve column">
            This is example footer.
        <div class="fedora-footer"></div>
        </div>
    </div>
  </div>
  {% endblock %}

</div> <!-- end of main row -->

</body>
</html>
