{% extends "base_nav.html" %}

{% macro subnavactive(name) -%}
{% if name == (request.path | urlsplit | last) -%}
class="active"
{%- endif -%}
{%- endmacro %}


{% block subnav %}
<span class="sub-menu">
            <ul>
                <li><a {{ subnavactive('info') }} href="./info">Info</a></li>
                <li><a {{ subnavactive('buglist') }} href="./buglist">Bug List</a></li>
                <li><a {{ subnavactive('updates') }} href="./updates">Updates</a></li>
                <li><a {{ subnavactive('spins') }} href="./spins">Spins</a></li>
                <li><a {{ subnavactive('stats') }} href="./stats">Stats</a></li>
                <li><a {{ subnavactive('irc') }} href="./irc">IRC Format</a></li>
            </ul>
    </div>
</div>
{% endblock %}

