{% extends "milestone_base.html" %}

{% block jsheader %}
{% endblock %}


{% block body %}

<div class="row">
    <div class="twelve columns" id="milestone-info">
        <h2>Fedora {{ info['number'] }} {{ info['phase'] }}</h2>
        <p>
        The bugs listed on this page are the current blocker and freeze exception bugs for
        Fedora {{ info['number'] }} {{ info['phase'] }} as identified by their
        respective processes:

        <ul>
            <li><a href="https://fedoraproject.org/wiki/QA:SOP_blocker_bug_process">Blocker Bug Process</a></li>
            <li><a href="https://fedoraproject.org/wiki/QA:SOP_freeze_exception_bug_process">Freeze Exception Bug Process</a></li>
        </ul>
        </p>
        <p>
        The criteria for bugs to qualify as blockers can be found in the 
        <a href="{{ info['criteria_url'] }}">Fedora {{ info['number'] }} {{ info['phase']}} Release Criteria</a>.
        </p>
        <p>
        <h3>Tracking Bugs</h3>
        <table>
            <thead>
                <th>Blocker</th>
                <th>Freeze Exception</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ bz_url }}show_bug.cgi?id={{ info['blocker_tracker'] }}"> {{ info['blocker_tracker'] }}</a></td>
                    <td><a href="{{ bz_url }}show_bug.cgi?id={{ info['fe_tracker'] }}"> {{ info['fe_tracker'] }}</a></td>
                </tr>
            </tbody>
        </table>
        </p>
    </div> <!-- end 12 columns -->
</div> <!-- end row -->

{% endblock %}
