{% extends "milestone_base.html" %}

{% block jsheader %}
{#
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.layout.min.js') }}"></script>
#}
<script src="{{ url_for('static', filename='js/d3.v2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<style type="text/css">
.barchart {
    font-family: sans-serif;
    font-size: 9px;
}

.barchart rect {
    stroke: white;
    fill: steelblue;
}

.barchart text {
    stroke: black;
    stroke-width: 0px;
    font-family:sans-serif;
    font-size: 9px;
    text-align: right;
}
</style>

{% endblock %}

{% block body %}

<div class="row">
    <div class="twelve columns" id="milestone-stats">

        <div class='row'>
            <div class='four columns'>
                <h3>Blocker/FE</h3>
            </div>
            <div class='four columns'>
                <h3>Proposed/Accepted Blockers</h3>
            </div>
            <div class='four columns'>
                <h3>Proposed/Accepted FE</h3>
            </div>
        </div>
        <div class='row'>
            <div class='four columns' id='bug-piechart'>
            </div>
            <div class='four columns' id='blocker-piechart'>
            </div>
            <div class='four columns' id='fe-piechart'>
            </div>
        </div>
        <div class='row'>
            <div style="stroke:white;fill:steelblue" class='six columns' id='blockercomponent'>
                <h3>Blockers by Component</h3>
            </div>
            <div style="stroke:white;fill:steelblue" class='six columns' id='fecomponent'>
                <h3>FE by Component</h3>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    blockerdata = [
            {%- for count in blockercount.keys() -%}
                {"label":"{{ count }}", "value":{{ blockercount[count] }}},
            {% endfor -%}
            ];

            bugPieChart('blockerpiechart','#blocker-piechart' , blockerdata);

    fedata = [
            {%- for count in fecount.keys() -%}
                {"label":"{{ count }}", "value":{{ fecount[count] }}},
            {% endfor -%}
            ];
            bugPieChart('fepiechart','#fe-piechart' , fedata);
    bugdata = [
            {%- for count in bugcount.keys() -%}
                {"label":"{{ count }}", "value":{{ bugcount[count] }}},
            {% endfor -%}
            ];
            bugPieChart('bugpiechart','#bug-piechart' , bugdata);

            blocker_components = [
{%- for component in  blockercomponents -%}
{"label":"{{ component[1] }} ({{ component[0] }})", "value":{{ component[0] }}},
{%- endfor -%}
];
componentBarChart('componentbar', '#blockercomponent', blocker_components);

            fe_components = [
{%- for component in  fecomponents -%}
{"label":"{{ component[1] }} ({{ component[0] }})", "value":{{ component[0] }}},
{%- endfor -%}
];
componentBarChart('componentbar', '#fecomponent', fe_components);

</script>
{% endblock %}
